.blog {
    .welcome {
        position: relative;
        padding-top: 100px;
        padding-bottom: 40px;
        text-align: center;
        background-position: center;
        background-size: cover;
        background-image: url(../images/blog_welcome.jpg);
        color: white;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        h2 {
            position: relative;
            z-index: 1;
        }
    }

    .description {
        position: relative;
        text-align: center;
        background-position: center;
        background-size: cover;
        background-image: url(../images/blog_description.jpg);
        padding: 50px 0;
        color: white;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        h2 {
            position: relative;
            z-index: 1;
        }
    }

    .projects {
        background-color: rgb(233, 233, 233);
        text-align: center;

        .project {
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 150px;
            height: 300px;
            background-position: center;
            background-size: cover;
            margin: 20px 0;
            border-radius: 10px;
            border-style: solid;
            border-width: 3px;
            border-color:#3C2535; 
            opacity: 0.8;
            transition: 0.1s linear;

            &:hover {
                opacity: 1;
            }

            &.bloggy {
                background-image: url(../images/blog_blog.jpg);
            }

            &.unsober {
                background-image: url(../images/blog_unsober.jpg);
            }

            &.lion {
                background-image: url(../images/blog_lion.jpg);
            }
        }
    }
}

@include media-breakpoint-up(md) {
}