footer {
    text-align: center;
    background-color: #3C2535;
    color: white;
    padding: 20px 0;

    .copyright {
        padding: 5px 0;
        font-size: 0.5rem;
    }

    .contact {
        margin: 5px 0;

        a {
            transition: 0.2s linear;
        }

        a:hover {
            color: #FFED84;
        }
        
        a:visited {
            color: white;
        }

        a:active {
            color: #FFED84;
        }

        i {
            margin: 5px;
            font-size: 25px;
        }
    }
}