.work {
    background-color: rgb(233, 233, 233);
    .categories {
        padding-top: 80px;

        a {
            margin: 5px;
            border-radius: 5px;
            font-size: 1.2rem;
            padding: 10px;
            background-color: #3C2535;
            color: white;
            transition: 0.2s linear;

            &:hover {
                font-size: 1.3rem;
                text-decoration: none;
            }
            
            &:visited {
                font-size: 1.2rem;
                text-decoration: none;
            }
        
            &:active {
                font-size: 1.3rem;
                text-decoration: none;
            }
        }
    }

    .category {
        margin: 20px 0;

        .title {
            width: 100%;
            text-align: center;
            background-color: #3C2535;
            color: white;
        }

        .project {
            .image {
                width: 100%;
                height: 150px;
                background-position: center;
                background-size: cover;

                &.cook {
                    background-image: url(../images/work_cook.jpg);
                }

                &.escape {
                    background-image: url(../images/work_escape.jpg);
                }

                &.wallet {
                    background-image: url(../images/work_wallet.jpg);
                }

                &.gaming {
                    background-image: url(../images/work_gaming.jpg);
                }

                &.graphic {
                    background-image: url(../images/work_graphic.jpg);
                }
            }

            .intro {
                background-color: #FFED84;
                padding: 20px;
                text-align: center;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .work {
        .category {
            .project {
                .image {
                    height: 260px;
                }
            }
        }
    }
}